<!DOCTYPE html>

<html lang='en'>
    %%header.html%%
    <div>
        <h2>Ryan DeYong</h2>
        <img src='/resources/jpeg/thumbpic.jpg'>
        <p>
            I am a student at the University of Cincinnati studying computer engineering.
            <h4>Work Experience</h4>
            <pre>
Company: Regal Beloit Corp.
Term: Fall 2017 - Spring 2018
Role: Electrical Engineering COOP

    &bull; Worked on embedded real-time operating systems
    &bull; Wrote Windows drivers and software to interface with low-level hardware devices
    &bull; SMD and through-hole soldering
    &bull; Worked on NFC circuit design and optimizations for circuitry
    &bull; Invented technologies that were patented
            </pre>
            <pre>
Company: FIS
Term: Summer 2018 - Fall 2019 (ongoing)
Role: Software Engineering COOP

    &bull; Worked with SQL, DB2 and C#.NET on development of financial systems
    &bull; Developed software with a team using the Agile software development model
    &bull; Created and demonstrated a prototype of a new technology to use in merchant processing
    &bull; Mentored other COOP students to help them better understand C# and JavaScript
    &bull; Worked directly with project stakeholders on deciding the direction of various projects
            </pre>
        </p>
		<a href="/resources/pdf/rd_resume_11-14-2019.pdf">View my resume PDF</a>
    </div>
    %%footer.html%%
</html>