<!DOCTYPE html>

<html lang='en'>
    %%header.html%%
    <div>
        <h2>Ryan DeYong</h2>
        <img src='/resources/jpeg/thumbpic.jpg'>
        <p>
            I studied Computer Engineering at the University of Cincinnati to achieve a Bachelors of Science degree.
            <h4>Work Experience</h4>
            <pre>
Company: Regal Beloit Corp.
Term: 2017 - 2018
Role: Electrical Engineering COOP

    &bull; Worked on embedded real-time operating systems
    &bull; Wrote Windows drivers and software to interface with low-level hardware devices
    &bull; SMD and through-hole soldering
    &bull; Worked on NFC circuit design and optimizations for circuitry
    &bull; Invented technologies that were patented
            </pre>
            <pre>
Company: FIS
Term: 2018 - 2020
Role: Software Engineering COOP

    &bull; Developed software with a team using the Agile software development model
    &bull; Created and demonstrated a prototype of a new technology to use in merchant processing
    &bull; Mentored other COOP students to help them better understand C# and JavaScript
    &bull; Worked directly with project stakeholders on deciding the direction of various projects
            </pre>
            <pre>
Company: Intel
Term: 2021 - Present
Role: Product Development Engineer

    &bull; Helped design and program testing automation software
    &bull; Worked on tokenizer and parser for internal programming language
    &bull; Interpreted analog oscilloscope readings to determine test correctness
    &bull; Significantly optimized algorithms resulting in up to a 15x performance boost in some cases
    &bull; Hacked Python internals to create IPC compatibility layer for old software
            </pre>
        </p>
    <a href="/resources/pdf/rd_resume_1-30-2022.pdf">View my resume PDF</a><br><br>
    <a href="/resources/pdf/rd_resume_1-30-2022.pdf"><img src='/resources/png/rd_resume_1-30-2022.png'/></a>
    </div>
    %%footer.html%%
</html>