<!DOCTYPE html>

<html lang='en'>
    %%header.html%%
    
    <style type='text/css'>
      .calc-pic {
        max-height:600px;
      }
      
      .pic-with-caption {
        display:inline-block;
      }
      
      .pic-with-caption p {
        font-size:12px;
      }
    </style>
    <div class='content'>
      <p>These are the best calculators I have ever found and used.</p>
      <div class='calc-review'>
        <h3>TI-36X Pro</h3>
        <p>
          This calculator is a sweet machine. For starters, at the time of writing this, it's under $20, which is very affordable. The calculator does not have graphing, however this can be a good thing for tests that restrict calculators to non-graphing only. Despite being non-graphing, it still has a relatively high resolution dot-matrix screen. As a result, it supports the Texas Instruments proprietary MathPrint, which lets you enter expressions as they are written on paper rather than seeing things like carets rather than raised exponents.
        </p>
        <p>
          Some features of this calculator:
        </p>
        <ul>
          <li>Can display a table of a function (very useful for guesstimating)</li>
          <li>Easy learning curve</li>
          <li>Supports definite integrals and derivatives, which can really help for checking your work</li>
          <li>Supports complex numbers and polar coordinate systems</li>
          <li>Hex, Octal, Binary, and Decimal conversions</li>
          <li>Conversion between various different units such as m/s=>km/h</li>
          <li>Reduced statistics, matrix, and vector operations compared to ti-84</li>
          <li>Symbolic computations with PI</li>
          <li>Screen is very visible in different lighting with large font</li>
        </ul>
        
        <p>Overall, for engineering, I would say this calculator is more useful than a ti-84 due to the sheer functionality, and the cost to function ratio is unparalleled. It supports higher level math functions that the ti-84 doesn't provide like integration as well. For this I rank this calculator #1 on my recommendation list.</p>
        
        <div class='pic-with-caption'>
          <img class='calc-pic' src='/resources/jpeg/calculator_pics/ti36x.jpg'/>
          <p>TI-36X definite integration</p>
        </div>
      </div>
      <hr>
      <div class='calc-review'>
        <h3>TI-89 Titanium</h3>
        <p>
          I picked this one up on sale recently. It has a steep learning curve compared to the TI-36X Pro, but it has a lot more features. It again is able to integrate and derive, but unlike the 36 has a full integrated computer algebra system. This means that you can do operations such as solving indefinite integrals and derivatives rather than needing to specify values. As a result, computations on the TI-89 are much more precise, and the symbolic computation rather than using an algorithmic approach helps eliminate precision float error build-up that the TI-36X has.
        </p>
        <p>
          Some features of this calculator:
        </p>
        
        <ul>
          <li>Function, recursive graphing, statistics graphing, and 3D Graphing. There are some other graphing modes but these are the big 3. The 3D graphing on the TI-89 isn't very great, the wireframe is the only mode that is very useful, and it is very slow to explore and rotate 3D graphs. It is functional and useable however, and I was able to successfully explore 3D graphs with it.</li>
          <li>Higher resolution screen than the ti-84</li>
          <li>Full matrix and statistics functionality</li>
          <ul>
            <li>I find the TI-84 statistics and matrix functionality superior, purely due to ease of use. The TI-84 uses predefined list and matrix variables, however this makes access much quicker. On the TI-89, you can have as many lists and matrices stored in variables as the memory can hold, however, you need to manually enter in their respective names, which on an exam for example wastes precious time.</li>
            <li>In addition to this, the data, matrix, and list editors are convoluted and it's not immediately obvious which one to use for which purpose. I found that using the baked data/matrix editor was the most superior because the flashapp list/statistics editor provides the same list functionality, but less of every other functionality.</li>
            <li>The datatypes for lists, matrices, and "data" are confusing, but essentially, data can contain a list or a matrix and is a general method of holding the data, matrices are restricted to the number of rows/columns you input, and lists can only be a single column. If you extend a list to another column in the editor it automatically converts the list to data.</li>
          </ul>
          <li>The documentation of the calculator isn't great and some things I had to figure out by poking around, like for example, left, right, and augment can be used to extract subsections from lists and modify matrices, but it's not clearly stated that those functions can perform that.</li>
          <li>Home screen can't be set as default, you either have the apps grid or the traditional app dropdown. If you have the apps grid enabled, it automatically opens when you turn on the calculator. If you enable the traditional app dropdown menu instead, the home screen is the default.</li>
          <li>The dropdowns at the top are incredibly useful for quickly finding ordered functions among the massive amount of functions the calculator provides, and the MATH menu is very efficient and well sorted</li>
          <li>Unit conversions between every unit imaginable, and custom units as well</li>
          <li>TI-BASIC version shipped with the calculator is superior to the TI-84's variant</li>
          <li>SOLVE function can solve a huge variety of inequality problems, which come up often in engineering math</li>
        </ul>
        <p>This calculator is an excellent calculator for engineering and any other math use. It has just about anything you would ever need in a dedicated calculator. Unfortunately, it is being discontinued as far as I know in favor of the new TI-Nspire CAS series, but if you can pick one up you will not regret it.</p>
        
        <div class='pic-with-caption'>
          <img class='calc-pic' src='/resources/jpeg/calculator_pics/ti89_shading.jpg'/>
          <p>TI-89 Titanium with 2 graphs shading 3 regions</p>
        </div>
        
        <div class='pic-with-caption'>
          <img class='calc-pic' src='/resources/jpeg/calculator_pics/ti89_home.jpg'/>
          <p>TI-89 home screen with a symbolic derivative</p>
        </div>
        
        <div class='pic-with-caption'>
          <img class='calc-pic' src='/resources/gif/calculator/ti89_3d.gif'/>
          <p>TI-89 3D wireframe graph</p>
        </div>
      </div>
      <hr>
      <div class='calc-review'>
        <h3>CASIO FX-300ES PLUS</h3>
        <p>Final on my list of recommended calculators, the CASIO FX-300ES PLUS. That one is a mouthful to type and say, but it's a good calculator. It lacks higher math functionality and graphing, but it is very cheap, in the $10 range, easy to use, runs on solar, and supports some advanced features like tables that you wouldn't expect to find in a solar calculator. In addition it supports a limited level of CAS which can be useful for solving some more difficult math. Also it supports CASIO's version of MathPrint + a low resolution dot-matrix screen, so you can enter in equations as they would appear naturally.</p>
        
        <div class='pic-with-caption'>
          <img class='calc-pic' src='/resources/jpeg/calculator_pics/fx300es.jpg'/>
          <p>FX-300ES with an equation</p>
        </div>
      </div>
    </div>
    %%footer.html%%
</html>