<!DOCTYPE html>

<html lang='en'>
    %%header.html%%
    <head>
      <style type='text/css'>
        .example_body {
          display:flex;
          flex-direction:column;
          align-items:flex-start;
        }
      </style>
    </head>
    <div class='example_body'>
      These examples are designed to run in the browser via JavaScript.
      <a href='/examples/wireworld'><h3>WireWorld</h3></a>
      <a href='/examples/raster'><h3>Rasterizer</h3></a>
      <a href='/examples/chip8'><h3>CHIP-8 Emulator</h3></a>
      <a href='/examples/forth'><h3>FORTH in JS</h3></a>
      <a href='/examples/handwriting'><h3>Handwriting Recognition Test</h3></a>
      <a href='/examples/raytrace'><h3>Raytracer</h3></a>
      <a href='/examples/fire'><h3>Fire Animation</h3></a>
      <a href='/examples/deflate'><h3>DEFLATE Implementation (2021)</h3></a>
      <a href='/examples/texture'><h3>Compressed Texture Loader</h3></a>
      <a href='/examples/tcl'><h3>TCL Parser</h3></a>
      <a href='/examples/threefish'><h3>Threefish - Coming Soon</h3></a>
    </div>
    %%footer.html%%
</html>