<head>
    <title>Ryan DeYong's Programming Portfolio</title>
    <style>
        body {background-color:#fefefe;
            color:#333;
            font-family:arial;
			margin:0px;}
			
		.page_navbar {
			background-color:#333;
			color:#eee;
			padding-left:10px;
			padding-top:1px;
			padding-bottom:10px;
		}
		
		.page_navbar a {
			color:#eee;
			text-decoration:none;
		}
    </style>
</head>
<!--<h2 class='https_floater'>Now with HTTPS!</h2>-->
<div class='page_navbar'>
<h1>Ryan DeYong's Programming Portfolio</h1>
<a href='/'>Home</a>
<a href='/otherpages/browser.html'>In-browser Examples</a>
<a href='/otherpages/source.html'>Downloadable Source Code</a>
<a href='/otherpages/bash.html'>Bash Scripts</a>
<a href='/otherpages/userscripts.html'>Chrome Userscripts</a>
<a href='https://bitbucket.org/TwixKitty/ryan_deyong_programming_portfolio_linux_binaries/src'>Website Front-End Source</a>
<a href='https://bitbucket.org/TwixKitty/ryan_deyong_programming_portfolio_reloaded/src'>Website Back-End Source</a>
</div>
<hr>