<style type='text/css'>
.javascript_type {
	color:orange;
}
.javascript_multi_comment {
	color:green;
}
.javascript_comment {
	color:lightgreen;
}
.javascript_function {
	color:Maroon;
}
.javascript_number {
	color:Gold;
}
.javascript_return {
	color:Fuchsia;
}
.javascript_condition {
	color:MediumAquaMarine;
}
.javascript_undefined {
	color:OrangeRed;
}
.javascript_case {
	color:Peru;
}
.javascript_break {
	color:RosyBrown;
}
.javascript_string {
	color:darkgray;
}
</style>
<script type='text/javascript' src='/syntaxlib/javascript_highlight.js'></script>