<style type='text/css'>
.typescript_class {
	color:red;
}
.typescript_public {
	color:blue;
}
.typescript_constructor {
	color:yellow;
}
.typescript_reference {
	color:cyan;
}
.typescript_type {
	color:orange;
}
.typescript_multi_comment {
	color:green;
}
.typescript_comment {
	color:lightgreen;
}
.typescript_variable {
	color:olive;
}
.typescript_static {
	color:Maroon;
}
.typescript_number {
	color:Gold;
}
.typescript_return {
	color:Fuchsia;
}
.typescript_condition {
	color:MediumAquaMarine;
}
.typescript_undefined {
	color:OrangeRed;
}
.typescript_interface {
	color:Peru;
}
.typescript_enum {
	color:RosyBrown;
}
.typescript_string {
	color:darkgray;
}
.typescript_private {
	color:Teal;
}
</style>
<script type='text/javascript' src='/syntaxlib/typescript_highlight.js'></script>