<!DOCTYPE html>

<html lang='en'>
    %%header.html%%
    
    <style type='text/css'>
    </style>
    <div class='content'>
      <h3>The TCL Interpreter</h3>
      <p>My TCL Interpreter is not proper TCL for starters. It is based loosely on the TCL 7.6 standard with some of the commands implemented.</p>
      <hr>
      <h4>Command Stuff</h4>
      <p>Built-in commands:</p>
      <ul>
        <li>set</li>
        <li>proc</li>
        <li>puts</li>
        <li>putpixel</li>
        <li>prntstack</li>
        <li>putsdbg</li>
        <li>fillcolor</li>
        <li>asarray</li>
        <li>sleep</li>
        <li>time</li>
        <li>setpixsz</li>
        <li>keyin</li>
        <li>if</li>
        <li>while</li>
        <li>break</li>
        <li>uplevel</li>
        <li>return</li>
        <li>list</li>
        <li>expr</li>
      </ul>
      
      <p>Standard library commands:</p>
      <ul>
        <li>pow</li>
        <li>factorial</li>
        <li>sqrt</li>
        <li>arctan</li>
        <li>PI</li>
        <li>PI2</li>
        <li>sin</li>
        <li>cos</li>
        <li>tan</li>
        <li>incr</li>
        <li>decr</li>
        <li>trunc</li>
        <li>rand</li>
      </ul>
      
      <hr>
      <h4>Language Constructs</h4>
      
      <p>Language constructs in my language are similar to the real TCL.</p>
      <p>Command substitution in brackets []</p>
      <p>Escaped character sequences in braces {}</p>
      <p>Quotes with some substitution "</p>
      <p>Arrays with ()</p>
      <p>Variable substitution with $</p>
      <p>Some backslash \ supported</p>
      
      <p>And every construct is based on a fixed command, with a mildly ambiguous grammar.</p>
    </div>
    %%footer.html%%
</html>